asgiref==3.7.2
build==1.0.3
CacheControl==0.13.1
certifi==2023.11.17
charset-normalizer==3.3.2
cleo==2.1.0
click==8.1.7
colorama==0.4.6
crashtest==0.4.1
crispy-bootstrap4==2023.1
distlib==0.3.8
dj-database-url==2.1.0
Django==4.2.7
django-appconf==1.0.6
django-crispy-forms==2.1
django-select2==8.1.2
dulwich==0.21.7
fastjsonschema==2.19.0
filelock==3.13.1
flake8==6.1.0
gunicorn==21.2.0
idna==3.6
installer==0.7.0
jaraco.classes==3.3.0
keyring==24.3.0
mccabe==0.7.0
more-itertools==10.1.0
msgpack==1.0.7
mypy-extensions==1.0.0
packaging==23.2
pathspec==0.12.1
pexpect==4.9.0
Pillow==10.1.0
pkginfo==1.9.6
platformdirs>=2
poetry==1.7.1
poetry-core==1.8.1
poetry-plugin-export==1.6.0
psycopg==3.1.16
psycopg2==2.9.9
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pycodestyle==2.11.1
pyflakes==3.1.0
pyproject_hooks==1.0.0
python-decouple==3.8
pywin32-ctypes==0.2.2
rapidfuzz==3.5.2
requests==2.31.0
requests-toolbelt==1.0.0
shellingham==1.5.4
sqlparse==0.4.4
tomlkit==0.12.3
trove-classifiers==2023.11.29
typing_extensions==4.9.0
tzdata==2023.3
urllib3==2.1.0
virtualenv==20.25.0
whitenoise==6.6.0
