asgiref==3.7.2
certifi==2023.11.17
charset-normalizer==3.3.2
crispy-bootstrap4==2023.1
Django==4.2.7
django-appconf==1.0.6
django-crispy-forms==2.1
django-select2==8.1.2
flake8==6.1.0
idna==3.6
mccabe==0.7.0
Pillow==10.1.0
pycodestyle==2.11.1
pyflakes==3.1.0
python-decouple==3.8
requests==2.31.0
sqlparse==0.4.4
tzdata==2023.3
urllib3==2.1.0
