{% extends 'layouts/base_sections.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block body %} class="index-page bg-gray-200" {% endblock body %}

{% block content %}
      <div class="container">
        <div class="row">
          <div class="col-lg-5 text-center mx-auto mt-5">
            {% if form.errors %}
              <p style="color: #fff">Your username and password didn't match. Please try again.</p>
            {% endif %}

             <h1 class="text-gradient text-primary pt-5 mt-n5">Log in</h1>

            {% if next %}
              <p style="color: #344767">Please log in to see this page.</p>
            {% endif %}

            <form method="post" action="{% url 'login' %}">
              {% csrf_token %}
              {{ form|crispy }}

              <input type="submit" value="Log in" class="btn btn-primary"/>
              <input type="hidden" name="next" value="{{ next }}"/>
            </form>
          </div>
        </div>
      </div>

      {% include "includes/waves.html" %}

{% endblock content %}
