{% extends 'layouts/base_sections.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block content %}
  <div class="page-header min-vh-100 relative" style="background-image: url('{% static 'img/backgrounds/background-title.jpeg' %}')">

    <div class="container text-center">
      <div class="col-lg-7 mx-auto">
        <h2 class="text-white">Browsing all developers.</h2>
        <h4 class="text-white">Click on dev name to see their games</h4>
      </div>

      <div class="input-group" style="max-width: 300px; margin: 0 auto;">
        <form method="GET" action="">
          {{ search_form|crispy }}
        </form>
        <div class="input-group-append">
          <button type="submit" class="btn btn-primary">⌕</button>
        </div>
      </div>

      {% if developer_list %}
        <table class="table">
          <tr>
            <th>ID</th>
            <th>Developer name</th>
            <th>Games released</th>
            {% if user.is_staff %}
              <th>Update</th>
              <th>Delete</th>
            {% endif %}
          </tr>

          {% for developer in developer_list %}
            <tr>
              <td>{{ developer.id }}</td>
              <td>
                <a class="link-white"
                   href="{% url 'backlog:developer-detail' pk=developer.id %}">{{ developer.name }}</a>
              </td>
              <td>{{ developer.games.count }}</td>
              {% if user.is_superuser %}
                <td>
                  <a href="{% url 'backlog:developer-update' pk=developer.id %}"
                     class="btn bg-gradient-primary w-100 me-1 mb-0 btn-sm">Update</a>
                </td>
                <td>
                  <a href="{% url 'backlog:developer-delete' pk=developer.id %}"
                     class="btn bg-gradient-danger w-100 me-1 mb-0 btn-sm">Delete</a>
                </td>
              {% endif %}
            </tr>
          {% endfor %}
        </table>

      {% else %}
        <div class="mt-4 d-flex align-items-center justify-content-center">
          <h2 class="text-white">There are no developers!</h2>
        </div>
      {% endif %}

      {% block pagination %}
        {% include "includes/pagination.html" %}
      {% endblock %}

    </div>
  </div>
{% endblock %}
