{% extends 'layouts/base_sections.html' %}
{% load static %}

{% block body %} class="blog-author bg-gray-100" {% endblock body %}

{% block header %}

  {% include 'includes/navigation.html' %}

{% endblock header %}

{% block content %}

  <section class="py-sm-7 py-5 position-relative">
    <div class="container">
      <div class="row">
        <div class="col-12 mx-auto">
          <div class="row py-lg-7 py-5">
            <div class="col-lg-3 col-md-5 position-relative my-auto">
              <img class="img border-radius-lg max-width-300 w-300 position-relative z-index-2"
                   src="{% static '/img/placeholders/user.jpg' %}" alt="avatar_image">
            </div>
            <div class="col-lg-7 col-md-7 z-index-2 position-relative px-md-2 px-sm-5 mt-sm-0 mt-4">
              <div class="d-flex justify-content-between align-items-center mb-2">
                <h4 class="mb-0">{{ gamer.username }}
                </h4>
                <h5 class="mb-0">
                  Date joined:
                  {{ gamer.date_joined }}
                </h5>
              </div>
              <p class="text-lg mb-0">
                Games in backlog:
                {% for game in gamer.games.all %}
                  <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <a class="link-white" href="{% url "backlog:game-detail" pk=game.id %} ">
                        {{ game.title }} | Added on {{ game.added_to_backlog_at }}
                      </a>
                      {% if user == gamer %}
                        <a href="{% url 'backlog:toggle-game-backlog' pk=game.id %}"
                           class="btn bg-gradient-danger w-15 me-1 mb-0 btn-sm">
                          Remove</a>
                      {% endif %}
                    </li>
                  </ul>
                {% empty %}
                  No games in backlog!
                {% endfor %}
              </p>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}

{% block footer %}

  {% include 'includes/footer_fullscreen.html' %}

{% endblock footer %}
