{% extends 'layouts/base_sections.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block body %} class="blog-author bg-gray-100" {% endblock body %}

{% block header %}

  {% include 'includes/navigation.html' %}

{% endblock header %}

{% block content %}

  <section class="py-sm-7 py-5 position-relative">

    <div class="container">

      <div class="row">
        <div class="col-12 mx-auto">
          <div class="row py-lg-7 py-5">

            <div class="col-lg-7 col-md-7 z-index-2 position-relative px-md-2 px-sm-5 mt-sm-0 mt-4">
              <div class="d-flex justify-content-between align-items-center mb-2">
                {% if user.is_staff %}
                  <h4 class="mb-0">Delete {{ game.title }}?</h4>
                  </div>
                  <p class="text-lg mb-0">
                  <form action="" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Yes" class="btn btn-danger">
                  </form>
                  </p>
                {% else %}
                  <h4 class="mb-0">You have no rights for this action!</h4>
                {% endif %}
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}

{% block footer %}

  {% include 'includes/footer_fullscreen.html' %}

{% endblock footer %}