{% extends 'layouts/base_sections.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block content %}
  <div class="page-header min-vh-100 relative" style="background-image: url('{% static 'img/backgrounds/background-title.jpeg' %}')">

    <div class="container text-center">
      <div class="col-lg-7 mx-auto">
        <h2 class="text-white">Browsing all games.</h2>
        <h4 class="text-white">Click on game title to see details</h4>
      </div>

      <div class="input-group" style="max-width: 300px; margin: 0 auto;">
        <form method="GET" action="">
          {{ search_form|crispy }}
        </form>
        <div class="input-group-append">
          <button type="submit" class="btn btn-primary">⌕</button>
        </div>
      </div>

      {% if game_list %}
        <table class="table">
          <tr>
            <th>Game ID</th>
            <th>Game Title</th>
            <th>Developers</th>
            <th>Date of release</th>
            <th>Metacritic score</th>
            {% if user.is_authenticated %}
              <th>Backlog</th>
            {% endif %}
            {% if user.is_staff %}
              <th>Update</th>
              <th>Delete</th>
            {% endif %}
          </tr>

          {% for game in game_list %}
            <tr>
              <td>
                {{ game.id }}
              </td>
              <td>
                <a class="link-white" href="{% url "backlog:game-detail" pk=game.id %} ">{{ game.title }}</a>
              </td>
              <td>
                {{ game.developers.all|join:", " }}
              </td>
              <td>
                {{ game.release_date }}
              </td>
              <td>
                {% if game.meta_score %}
                  {{ game.meta_score }}
                {% else %}
                  N/A
                {% endif %}
              </td>
              {% if user.is_authenticated %}
                <td>
                  {% if game in user.games.all %}
                    <a href="{% url 'backlog:toggle-game-backlog' pk=game.id %}"
                       class="btn bg-gradient-danger btn-sm w-100 me-1 mb-0 btn-sm">
                      Remove</a>
                  {% else %}
                    <a href="{% url 'backlog:toggle-game-backlog' pk=game.id %}"
                       class="btn bg-gradient-primary btn-sm w-100 me-1 mb-0 btn-sm">
                      Add
                    </a>
                  {% endif %}
                </td>
              {% endif %}
              {% if user.is_staff %}
                <td>
                  <a href="{% url 'backlog:game-update' pk=game.id %}"
                     class="btn bg-gradient-primary w-100 me-1 mb-0 btn-sm">
                    Update </a>
                </td>
                <td>
                  <a href="{% url 'backlog:game-delete' pk=game.id %}"
                     class="btn bg-gradient-danger w-100 me-1 mb-0 btn-sm">
                    Delete </a>
                </td>
              {% endif %}
            </tr>
          {% endfor %}
        </table>

      {% else %}
        <div class="mt-4 d-flex align-items-center justify-content-center">
          <h2 class="text-white">There are no games!</h2>
        </div>
      {% endif %}

      {% block pagination %}
        {% include "includes/pagination.html" %}
      {% endblock %}

    </div>
  </div>

{% endblock %}
