{% extends 'layouts/base_sections.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block title %} Material Kit 2 by Creative Tim {% endblock title %}

{% block body %} class="blog-author bg-gray-100" {% endblock body %}

{% block header %}

  {% include 'includes/navigation.html' %}

{% endblock header %}


{% block content %}
  <div class="page-header min-vh-100 relative"
       style="background-image: url('{% static 'img/backgrounds/background-title.jpeg' %}')">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 text-center mx-auto">
          <h2 class="text-white pt-3 mt-n10">{{ genre.name }} games</h2>
          <h4 class="text-white pt-5  mt-n5">Click on game title to see game info</h4>
          <div class="col-4 mx-auto">
            <form method="GET" action="" class="form-inline">
              <div class="input-group">
                {{ search_form|crispy }}
                <div class="input-group-append">
                  <button type="submit" class="btn btn-primary">⌕</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      {% if object_list %}
        <table class="table">
          <tr>
            <th>Game ID</th>
            <th>Game Title</th>
            <th>Date of release</th>
            <th>Metacritic score</th>
          </tr>

          {% for object in object_list %}
            <tr>
              <td>
                {{ object.id }}
              </td>
              <td>
                <a class="link-white" href="{% url "backlog:game-detail" pk=object.id %} ">{{ object.title }}</a> 🗃️ ❤️
              </td>
              <td>
                {{ object.release_date }}
              </td>
              <td>
                {% if object.meta_score %}
                  {{ game.meta_score }}
                {% else %}
                  N/A
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </table>

      {% else %}
        <p>There ane no games in {{ genre.name }}!</p>
      {% endif %}
      {% block pagination %}
        {% include "includes/pagination.html" %}
      {% endblock %}
    </div>

  </div>
  <div>
    <ul class="pagination justify-content-center">
      {% if developer.games.has_previous %}
        <li class="page-item">
        <a class="page-link" href="?page= {{ developer.games.previous_page_number }}">
          <i class="fa fa-angle-left"></i>
          <span class="sr-only">Previous</span>
        </a>
      {% endif %}
      </li>
      <li class="page-item active"><a class="page-link" href="">{{ developer.games.number }}</a></li>
      {% if developer.games.all.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page= {{ developer.games.next_page_number }}">
            <i class="fa fa-angle-right"></i>
            <span class="sr-only">Next</span>
          </a>
        </li>
      {% endif %}
    </ul>

  </div>

{% endblock content %}

{% block footer %}

  {% include 'includes/footer_fullscreen.html' %}

{% endblock footer %}