{% extends 'layouts/base_sections.html' %}
{% load static %}

{% block content %}
  <div class="page-header min-vh-100 relative"
       style="background-image: url('{% static 'img/backgrounds/background-title.jpeg' %}')">

    <div class="container text-center">
      <div class="col-lg-7 mx-auto">
        <h2 class="text-white">Browsing all genres.</h2>
        <h4 class="text-white">Click on genre to see genre games</h4>
      </div>

      {% if genre_list %}
        <table class="table">
          <tr>
            <th>Genre name</th>
            <th>Games in genre</th>
          </tr>

          {% for genre in genre_list %}
            <tr>
              <td>
                <a class="link-white" href="{% url "backlog:genre-detail" pk=genre.id %} ">{{ genre.name }}</a>
              </td>
              <td>
                {{ genre.games.count }}
              </td>
            </tr>
          {% endfor %}
        </table>

      {% else %}
        <h2 class="text-white pt-3 mt-n7">There are no genres!</h2>
      {% endif %}
      {% block pagination %}
        {% include "includes/pagination.html" %}
      {% endblock %}
    </div>

  </div>

{% endblock %}
